body {
  background-color: #F0F0F0;
  color: #333333;
  font-family: Tahoma;
}
.wrapper {
  background-color: #ffffff;
  padding: 70px 97px 77px 97px;
}
.wrapper h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 82px;
}
.block {
  margin-bottom: 20px;
}
.wrap-img {
  width: 71px;
  height: 71px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.icon {
  width: 100%;
}
.text {
font-size: 16px;
font-weight: 700;
display: block;
text-align: center;
}